/* https://asciiart.website//index.php?art=animals/reptiles/snakes :D
                    /^\/^\
                  _|__|  O|
         \/     /~     \_/ \
          \____|__________/  \
                 \_______      \
                         `\     \                 \
                           |     |                  \
                          /      /                    \
                         /     /                       \\
                       /      /                         \ \
                      /     /                            \  \
                    /     /             _----_            \   \
                   /     /           _-~      ~-_         |   |
                  (      (        _-~    _--_    ~-_     _/   |
                   \      ~-____-~    _-~    ~-_    ~-_-~    /
                     ~-_           _-~          ~-_       _-~   
                        ~--______-~                ~-___-~
*/

.keys{
  flex: content;
  margin: 0 auto;
  padding: 50 0 0 50;
  position: relative;
  text-align: center;
  letter-spacing: 3px;

}

span{
  font-family: "Courier New", Times, serif;
}

.row {
    display: flex;
}

.center-div
{

  margin: 0 auto;
  padding-top: 110px;
  width: 600px; /* 20x20 */
} 

.cell, .snakeCell, .appleCell{
  width: 30px;
  height: 30px;
}

.cell {
    background:  rgb(255, 247, 185);
}

.snakeCell{
    background:  rgb(174, 228, 103);
}

.appleCell{
    background: rgb(233, 131, 63);
}