/* https://asciiart.website//index.php?art=animals/reptiles/snakes tnx :D
                    /^\/^\
                  _|__|  O|
         \/     /~     \_/ \
          \____|__________/  \
                 \_______      \
                         `\     \                 \
                           |     |                  \
                          /      /                    \
                         /     /                       \\
                       /      /                         \ \
                      /     /                            \  \
                    /     /             _----_            \   \
                   /     /           _-~      ~-_         |   |
                  (      (        _-~    _--_    ~-_     _/   |
                   \      ~-____-~    _-~    ~-_    ~-_-~    /
                     ~-_           _-~          ~-_       _-~   
                        ~--______-~                ~-___-~
*/


.row {
    display: flex;
}

.cell {
    width: 20px;
    height: 20px;
    margin: 1px;
    background: rgb(216, 205, 191);
}

.snakeCell{
    width: 20px;
    height: 20px;
    margin: 1px;
    background: rgb(8, 238, 58);
}

.appleCell{
    width: 20px;
    height: 20px;
    margin: 1px;
    background: firebrick;
}